
.firstSection{
  text-align: left;
  padding: 2rem 1rem 1rem 1rem;
  align-content: center;
  font-weight: 800;
  color:white;
}

.firstText{
  width:60%;
  margin-top:10%;
  line-height:1.6rem;
  letter-spacing: 0.05em;
}
.firstText p{
  margin-top:2rem;
}
.socialicons{
  display:flex;
  justify-content: space-between;
  width:10%;
}
.copyright{
  display:flex;
  justify-content: flex-end;
  margin-top:15rem;
}
@media (max-width:768px){
  .firstText{
  width:100%;
}
}
